
<!DOCTYPE html>
<html>



<head>

<link rel="stylesheet" href="style.css">
</head>

body { 
padding: 10px;
background-color: antiquewhite;
}

blockquote {
font-size: 5em;
font-family: times, serif;
color: purple; 
}


div {
font-size: 8em;
font-family: geneva, sans-serif;
margin-left: 5%;
}


</html>