<head>
<link rel="stylesheet" href="style.css">
</head>

body { 
padding: 30px;
background-color: antiquewhite;
}

blockquote {
font-size: 16em;
font-family: times, serif;
color: purple; 
}


div {
font-size: 12em;
font-family: geneva, sans-serif;
margin-left: 5%;
}


